In [114]:
import pandas as pd
import sqlite3

In [115]:
weather = pd.read_csv('../data/forecast_20190828-114302.csv')

In [116]:
# access the parking data scraped and currently stored in SQLITE 
cnx = sqlite3.connect('../data/opendata_parkering.db')
parking = pd.read_sql_query("SELECT * FROM parkering", cnx)

In [117]:
parking.head()

                  date  vehicleCount  id  totalSpaces     garageCode
0  2018/03/06 12:35:01            26   1           65      NORREPORT
1  2018/03/06 12:35:01           559   2         1240    SCANDCENTER
2  2018/03/06 12:35:01           508   3          953         BRUUNS
3  2018/03/06 12:35:01           222   4          378        MAGASIN
4  2018/03/06 12:35:01           182   5          210  KALKVAERKSVEJ

In [118]:
# drop Dokk1 because of no data
parking = df[df.garageCode != 'DOKK1']

In [119]:
weather['date'] = weather['date'].astype('datetime64[ns]') 
parking['date'] = parking['date'].astype('datetime64[ns]')

In [120]:
weather.head()

,date,temperature,precipitation,winddirection,windspeed,pressure,symbol
0,2018-03-22 13:00:00,4,0.0,54.2,2.6,1008.6,Cloudy
1,2018-03-22 14:00:00,3,0.0,40.8,2.4,1008.7,Cloudy
2,2018-03-22 15:00:00,4,0.0,32.4,2.2,1008.8,Partly cloudy
3,2018-03-22 16:00:00,4,0.0,41.3,1.9,1008.6,Partly cloudy
4,2018-03-22 17:00:00,4,0.0,81.5,1.8,1008.4,Partly cloudy

In [121]:
parking.head()

                 date  vehicleCount  id  totalSpaces     garageCode
0 2018-03-06 12:35:01            26   1           65      NORREPORT
1 2018-03-06 12:35:01           559   2         1240    SCANDCENTER
2 2018-03-06 12:35:01           508   3          953         BRUUNS
3 2018-03-06 12:35:01           222   4          378        MAGASIN
4 2018-03-06 12:35:01           182   5          210  KALKVAERKSVEJ

In [161]:
def merge_two_dicts(x, y):
    z = x.copy()   # start with x's keys and values
    z.update(y)    # modifies z with y's keys and values & returns None
    return z

In [171]:
from tqdm import tqdm_notebook
import datetime

row_list = []
for index in tqdm_notebook(range(0, len(parking))):
    row = parking.iloc[index]
    dict1 = {}
    dt = row['date']
    new_dt = datetime.datetime(dt.year, dt.month, dt.day, dt.hour)
    new_df = weather[weather['date'] == new_dt]
    if len(new_df) > 1: 
        new_df = new_df.iloc[0]
    row_list.append(merge_two_dicts(new_df.to_dict(), row.to_dict()))

HBox(children=(IntProgress(value=0, max=1532584), HTML(value='')))

In [172]:
df = pd.DataFrame(row_list)

In [184]:
df.iloc[1000123]

date              2019-02-21 01:40:01
garageCode            Urban Level 2+3
id                                 11
precipitation             {8046: 0.2}
pressure               {8046: 1015.9}
symbol           {8046: 'Light rain'}
temperature                 {8046: 7}
totalSpaces                       654
vehicleCount                       41
winddirection           {8046: 253.4}
windspeed                 {8046: 3.5}
Name: 1000123, dtype: object

In [132]:
weather['date'][0]

Timestamp('2018-03-22 13:00:00')