In [11]:
import pandas as pd
import sqlite3

In [12]:
weather = pd.read_csv('../data/forecast_20190828-114302.csv')

In [14]:
# access the parking data scraped and currently stored in SQLITE 
cnx = sqlite3.connect('../data/opendata_parkering.db')
df = pd.read_sql_query("SELECT * FROM parkering", cnx)

In [15]:
df.head()

                  date  vehicleCount  id  totalSpaces     garageCode
0  2018/03/06 12:35:01            26   1           65      NORREPORT
1  2018/03/06 12:35:01           559   2         1240    SCANDCENTER
2  2018/03/06 12:35:01           508   3          953         BRUUNS
3  2018/03/06 12:35:01           222   4          378        MAGASIN
4  2018/03/06 12:35:01           182   5          210  KALKVAERKSVEJ

In [16]:
# drop Dokk1 because of no data
df = df[df.garageCode != 'DOKK1']

In [17]:
len(df)

1532584